.bulletin{
    position: relative;
    background-color: #009900;
}
.paginator{
    position: fixed; /* Фиксированное положение */
    bottom: 0; /* Левый нижний угол */
    left:0;
    width: 100%; /* Ширина слоя */
}
.inputFields{
    width: 200px;
}
