.bulletin{
    position: relative;
    margin: 2%;
    padding-left: 2%;
    width: 80%;
    height: 150px;
    background-color: #c4ebf3;
    border-radius: 15px;
}
.bulletin-body{
    position: relative;
    padding-top: 2%;
    padding-bottom: 2%;
}
.bulletin-head{
    position: absolute;
    right: 0;
}
.bulletin-footer a{
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 18px;
    border: 2px double #66afe9;
}
@media (max-width: 481px) {
    .bulletin-body {
        padding-top: 10%;
        width: 100%;
        word-wrap: break-word;
    }
}
.paginator{
    position: fixed; /* Фиксированное положение */
    bottom: 0; /* Левый нижний угол */
    left:0;
    width: 100%; /* Ширина слоя */
}
.inputFields{
    width: 200px;
}
.comments{
    position: relative;
    margin: 2%;
}
.comment{
    position: relative;
    color: #00aa00;
    margin-bottom: 2%;
    background-color: mintcream;
    border-radius: 15px;
}
.comment-head{
    position: absolute;
    right: 0;
}
.comment-body{
    position: relative;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-bottom: 1%;
}
@media (max-width: 481px) {
    .comment-body {
        padding-top: 10%;
        width: 100%;
        word-wrap: break-word;
    }
    .comments{
        position: relative;
        margin: 2%;
        margin-bottom: 20%;
    }
}
.comment-footer{
    border-bottom: 2px solid maroon;
}
.comment-footer label{
    font-size: 14px;
}
.addComment{
    position: relative;
    margin: 1% 1% 0 1%;
    height: 150px;
}
.addComment textarea{
    width: 100%;
    height: 100%;
}
.comment button{
    margin-right: 1%;
}
#rateUp{
    margin: 2%;
}